header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--lightColor);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 1vh;
    text-align: center;
  }
  
  ul {
    margin: 1vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li{
      margin: 10px;
    }
    
    .li-seleccionado{
      border-bottom: solid var(--purpleColor);
    }

    .li-no-seleccionado {
      position: relative;
    }

    .li-no-seleccionado a {
      position: relative;
      display: inline-block;
      padding-bottom: 4px;
    }

    .li-no-seleccionado a::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: var(--purpleColor);
      transform: translateX(-50%);
      transition: width 0.3s ease;
    }

    .li-no-seleccionado a:hover::after {
      width: 100%;
    }
  }
}

/*media*/ 

@media (min-width: 768px){
  header {
    flex-direction: row;
    justify-content: space-between;
  }

}

/*largo*/

